


    </div>
    <hr>
    <footer class="footer">
        <p>Made by ❤ </p>
        <p>All rights reseved. Hrishi Sharma ©  <%= new Date().getFullYear(); %> </p>
    </footer>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>