<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=PT+Sans&family=PT+Serif&family=Patua+One&display=swap" rel="stylesheet">
    
</head>
<body>
    <div>
        <div class="nav-container display-flex"> 
            <div class="nav-big-title pt pb">
                <p>TO-DO LIST</p>
            </div>
            <div class="nav-menu pt pb">
                <a class="link" href="/">Home</a>
                <a class="link" href="/today">Today</a>
                <a class="link" href="/work">Work</a>
            </div>
        </div>
        <hr>
        

        

    
