<%- include("partials/header.ejs") %>


        <div class="information">
            <h1 class="heading">Write your List-Items:</h1>
            <div class="background-color">

                <form action="/work" method="POST">
                    <input class="info" type="text" name="work1" placeholder="write something..." required >
                    <input class="button" type="submit" value="+"><br>
                </form>

                <div class="container"> 
                    <% for(var i  = 0; i < wd.length ; i++) {%>
                        <input class="check" type="checkbox" class="monList" ><label><%= wd[i] %></label> <br>
                    <% } %>
                </div>  
                

            </div>

            
        </div>


<%-include("partials/footer.ejs") %>